<div>
  {% for block in section.blocks %}
  <div class="grid-item" {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'hero' %}
      {% include 'snippet_hero' %}

      {% when 'imagetext' %}
      {% include 'snippet_feature-row' %}

      {% when 'imageimage' %}
      {% include 'snippet_image-image' %}

      {% when 'richtext' %}
      {% include 'snippet_rich-text' %}

      {% when 'customgallery' %}
      {% include 'snippet_three-image-gallery' %}

      {% when 'twoimgcustomgallery' %}
      {% include 'snippet_two-image-gallery' %}
    
      {% when 'oneimgcustomgallery' %}
      {% include 'snippet_one-image-gallery' %}

    {% endcase %}
  </div>
  {% endfor %}
</div>


{% schema %}
{
	"blocks": [
		{
			"type": "hero",
			"name": "Image with text overlay",
			"settings": [
				{
					"type": "select",
					"id": "hero_size",
					"label": "Section spacing",
					"default": "medium",
					"options": [
						{
							"label": "Small",
							"value": "small"
						},
						{
							"label": "Medium",
							"value": "medium"
						},
						{
							"label": "Large",
							"value": "large"
						},
						{
							"label": "Extra Large",
							"value": "x-large"
						},
						{
							"label": "Full Screen",
							"value": "fullscreen"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "Image alignment",
					"default": "center center",
					"options": [
						{
							"label": "Top left",
							"value": "top left"
						},
						{
							"label": "Top center",
							"value": "top center"
						},
						{
							"label": "Top right",
							"value": "top right"
						},
						{
							"label": "Middle left",
							"value": "center left"
						},
						{
							"label": "Middle center",
							"value": "center center"
						},
						{
							"label": "Middle right",
							"value": "center right"
						},
						{
							"label": "Bottom left",
							"value": "bottom left"
						},
						{
							"label": "Bottom center",
							"value": "bottom center"
						},
						{
							"label": "Bottom right",
							"value": "bottom right"
						}
					]
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Section Heading",
					"default": "Section header"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Image Description",
					"default": "<p>Subtitle<\/p>"
				},
				{
					"type": "richtext",
					"id": "text2",
					"label": "Photographer",
					"default": "<p>Sub-subtitle</p>"
				},
				{
					"type": "select",
					"id": "text_size",
					"label": "Text size",
					"default": "medium",
					"options": [
						{
							"label": "Small",
							"value": "small"
						},
						{
							"label": "Medium",
							"value": "medium"
						},
						{
							"label": "Large",
							"value": "large"
						}
					]
				},
				{
					"type": "select",
					"id": "text_position",
					"label": "Text position",
					"default": "center",
					"options": [
						{
							"label": "Center",
							"value": "center"
						},
						{
							"label": "Bottom",
							"value": "bottom"
						}
					]
				},
				{
					"type": "checkbox",
					"id": "use_second_button",
					"label": "Use secondary button style",
					"default": false
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "header",
					"content": "Overlay"
				},
				{
					"type": "checkbox",
					"id": "show_overlay",
					"label": "Show overlay",
					"default": false
				},
				{
					"type": "color",
					"id": "overlay_color",
					"label": "Overlay Color",
					"default": "#000000"
				},
				{
					"type": "color",
					"id": "overlay_text",
					"label": "Text color",
					"default": "#ffffff"
				},
				{
					"type": "select",
					"id": "overlay_opacity",
					"label": "Opacity",
					"default": "0.5",
					"options": [
						{
							"label": "100%",
							"value": "1"
						},
						{
							"label": "95%",
							"value": "0.95"
						},
						{
							"label": "90%",
							"value": "0.9"
						},
						{
							"label": "85%",
							"value": "0.85"
						},
						{
							"label": "80%",
							"value": "0.8"
						},
						{
							"label": "75%",
							"value": "0.75"
						},
						{
							"label": "70%",
							"value": "0.7"
						},
						{
							"label": "65%",
							"value": "0.65"
						},
						{
							"label": "60%",
							"value": "0.6"
						},
						{
							"label": "55%",
							"value": "0.55"
						},
						{
							"label": "50%",
							"value": "0.5"
						},
						{
							"label": "45%",
							"value": "0.45"
						},
						{
							"label": "40%",
							"value": "0.4"
						},
						{
							"label": "35%",
							"value": "0.35"
						},
						{
							"label": "30%",
							"value": "0.3"
						},
						{
							"label": "25%",
							"value": "0.25"
						},
						{
							"label": "20%",
							"value": "0.2"
						},
						{
							"label": "0%",
							"value": "0"
						}
					]
				}
			]
		},
		{
			"type": "imagetext",
			"name": "Image with text",
			"settings": [
				{
					"type": "select",
					"id": "size",
					"label": "Section height",
					"default": "medium",
					"options": [
						{
							"label": "Small",
							"value": "small"
						},
						{
							"label": "Medium",
							"value": "medium"
						},
						{
							"label": "Large",
							"value": "large"
						},
						{
							"label": "Extra Large",
							"value": "x-large"
						}
					]
				},
				{
					"type": "color",
					"id": "background_color",
					"label": "Background color",
					"default": "#faf9f6"
				},
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "select",
					"id": "image_crop",
					"label": "Image style",
					"default": "none",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Circle",
							"value": "circle"
						},
						{
							"label": "Square",
							"value": "square"
						},
						{
							"label": "Custom",
							"value": "custom"
						}
					]
				},
            	{
                  "id": "custom_image_width",
                  "type": "text",
                  "label": "Custom image width (in pixels)",
                  "default": "320"
                },
				{
                  "id": "custom_image_height",
                  "type": "text",
                  "label": "Custom image height (in pixels)",
                  "default": "320"
                },
				{
					"type": "select",
					"id": "alignment",
					"label": "Image position",
					"default": "center center",
					"options": [
						{
							"label": "Top left",
							"value": "top left"
						},
						{
							"label": "Top center",
							"value": "top center"
						},
						{
							"label": "Top right",
							"value": "top right"
						},
						{
							"label": "Middle left",
							"value": "center left"
						},
						{
							"label": "Middle center",
							"value": "center center"
						},
						{
							"label": "Middle right",
							"value": "center right"
						},
						{
							"label": "Bottom left",
							"value": "bottom left"
						},
						{
							"label": "Bottom center",
							"value": "bottom center"
						},
						{
							"label": "Bottom right",
							"value": "bottom right"
						}
					]
				},
				{
					"type": "checkbox",
					"id": "use_image_subtitle",
					"label": "Show image subtitle",
					"default": false
				},
				{
					"type": "text",
					"id": "image_subtitle_text",
					"label": "Image subtitle text",
					"default": "Caption text"
				},
				{
					"type": "header",
					"content": "Text"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Image with text"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
				},
				{
					"type": "checkbox",
					"id": "use_second_button",
					"label": "Use secondary button style",
					"default": false
				},
				{
					"type": "text",
					"id": "button_label",
					"label": "Button label"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "header",
					"content": "Image alignment"
				},
				{
					"type": "select",
					"id": "desktop_layout",
					"label": "Desktop",
					"default": "right",
					"options": [
						{
							"label": "Left",
							"value": "left"
						},
						{
							"label": "Right",
							"value": "right"
						}
					]
				},
				{
					"type": "select",
					"id": "mobile_layout",
					"label": "Mobile",
					"default": "top",
					"options": [
						{
							"label": "Top",
							"value": "top"
						},
						{
							"label": "Bottom",
							"value": "bottom"
						}
					]
				}
			]
		},
		{
			"type": "imageimage",
			"name": "Image with image overlay",
			"settings": [
				{
					"type": "select",
					"id": "hero_size",
					"label": "Section spacing",
					"default": "medium",
					"options": [
						{
							"label": "Small",
							"value": "small"
						},
						{
							"label": "Medium",
							"value": "medium"
						},
						{
							"label": "Large",
							"value": "large"
						},
						{
							"label": "Extra Large",
							"value": "x-large"
						},
						{
							"label": "Full Screen",
							"value": "fullscreen"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "background",
					"label": "Background"
				},
				{
					"type": "select",
					"id": "alignment",
					"label": "Image alignment",
					"default": "center center",
					"options": [
						{
							"label": "Top left",
							"value": "top left"
						},
						{
							"label": "Top center",
							"value": "top center"
						},
						{
							"label": "Top right",
							"value": "top right"
						},
						{
							"label": "Middle left",
							"value": "center left"
						},
						{
							"label": "Middle center",
							"value": "center center"
						},
						{
							"label": "Middle right",
							"value": "center right"
						},
						{
							"label": "Bottom left",
							"value": "bottom left"
						},
						{
							"label": "Bottom center",
							"value": "bottom center"
						},
						{
							"label": "Bottom right",
							"value": "bottom right"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "foreground",
					"label": "Foreground"
				},
				{
					"id": "foreground_height",
					"type": "text",
					"label": "Foreground image height (in pixels)",
					"default": "150"
				}
			]
		},
		{
			"type": "richtext",
			"name": "Rich text",
			"settings": [
				{
					"type": "checkbox",
					"id": "full_width",
					"label": "Wide display"
				},
                {
                  "type": "color",
                  "id": "background_color",
                  "label": "Background color",
                  "default": "#faf9f6"
                },
				{
					"type": "text",
					"id": "section_title",
					"label": "Heading",
					"default": "Talk about your brand"
				},
				{
					"type": "richtext",
					"id": "text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.<\/p>"
				},
				{
					"type": "select",
					"id": "text_size",
					"label": "Size",
					"default": "medium",
					"options": [
						{
						"label": "Small",
						"value": "small"
						},
						{
						"label": "Medium",
						"value": "medium"
						},
						{
						"label": "Large",
						"value": "large"
						}
					]
				}
			]
		},
		{
			"type": "customgallery",
			"name": "Three image gallery",
			"settings": [
				{
					"type": "color",
					"id": "background_color",
					"label": "Background color"
				},
				{
					"type": "checkbox",
					"id": "top_margin",
					"label": "Top margin",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "bottom_margin",
					"label": "Bottom margin",
					"default": true
				},
				{
					"type": "image_picker",
					"id": "image1",
					"label": "Image 1"
				},
				{
					"type": "select",
					"id": "alignment1",
					"label": "Vertical alignment",
					"info": "Position relative to other content blocks on the same row",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "image2",
					"label": "Image 2"
				},
				{
					"type": "select",
					"id": "alignment2",
					"label": "Vertical alignment",
					"info": "Position relative to other content blocks on the same row",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "image3",
					"label": "Image 3"
				},
				{
					"type": "select",
					"id": "alignment3",
					"label": "Vertical alignment",
					"info": "Position relative to other content blocks on the same row",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "header",
					"content": "Heading"
				},
				{
					"type": "text",
					"id": "heading_text",
					"label": "Text",
					"default": "Talk about your brand"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Color",
					"default": "#3a3a3a"
				},
				{
					"type": "select",
					"id": "heading_style",
					"label": "Style",
					"default": "h3",
					"options": [
						{
							"value": "h1",
							"label": "Heading 1"
						},
						{
							"value": "h2",
							"label": "Heading 2"
						},
						{
							"value": "h3",
							"label": "Heading 3"
						},
						{
							"value": "h4",
							"label": "Heading 4"
						},
						{
							"value": "h5",
							"label": "Heading 5"
						},
						{
							"value": "h6",
							"label": "Heading 6"
						}
					]
				},
				{
					"type": "header",
					"content": "Paragraph"
				},
				{
					"type": "richtext",
					"id": "paragraph_text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "color",
					"id": "paragraph_color",
					"label": "Color",
					"default": "#4a4a4a"
				},
				{
					"type": "select",
					"id": "paragraph_size",
					"label": "Size",
					"default": "1",
					"options": [
						{
							"value": "1",
							"label": "Medium"
						},
						{
							"value": "1.25",
							"label": "Large"
						},
						{
							"value": "1.5",
							"label": "Extra large"
						}
					]
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "align_text",
					"label": "Horizontal alignment",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Centered"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				} 
			]
		},
		{
			"type": "twoimgcustomgallery",
			"name": "Two image gallery",
			"settings": [
				{
					"type": "color",
					"id": "background_color",
					"label": "Background color"
				},
				{
					"type": "checkbox",
					"id": "top_margin",
					"label": "Top margin",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "bottom_margin",
					"label": "Bottom margin",
					"default": true
				},
				{
					"type": "image_picker",
					"id": "image1",
					"label": "Image 1"
				},
				{
					"type": "select",
					"id": "alignment1",
					"label": "Vertical alignment",
					"info": "Position relative to other content blocks on the same row",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "image2",
					"label": "Image 2"
				},
				{
					"type": "select",
					"id": "alignment2",
					"label": "Vertical alignment",
					"info": "Position relative to other content blocks on the same row",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				
				{
					"type": "header",
					"content": "Heading"
				},
				{
					"type": "text",
					"id": "heading_text",
					"label": "Text",
					"default": "Talk about your brand"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Color",
					"default": "#3a3a3a"
				},
				{
					"type": "select",
					"id": "heading_style",
					"label": "Style",
					"default": "h3",
					"options": [
						{
							"value": "h1",
							"label": "Heading 1"
						},
						{
							"value": "h2",
							"label": "Heading 2"
						},
						{
							"value": "h3",
							"label": "Heading 3"
						},
						{
							"value": "h4",
							"label": "Heading 4"
						},
						{
							"value": "h5",
							"label": "Heading 5"
						},
						{
							"value": "h6",
							"label": "Heading 6"
						}
					]
				},
				{
					"type": "header",
					"content": "Paragraph"
				},
				{
					"type": "richtext",
					"id": "paragraph_text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "color",
					"id": "paragraph_color",
					"label": "Color",
					"default": "#4a4a4a"
				},
				{
					"type": "select",
					"id": "paragraph_size",
					"label": "Size",
					"default": "1",
					"options": [
						{
							"value": "1",
							"label": "Medium"
						},
						{
							"value": "1.25",
							"label": "Large"
						},
						{
							"value": "1.5",
							"label": "Extra large"
						}
					]
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "align_text",
					"label": "Horizontal alignment",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Centered"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				} 
			]
		},
		{
			"type": "oneimgcustomgallery",
			"name": "One image gallery",
			"settings": [
				{
					"type": "color",
					"id": "background_color",
					"label": "Background color"
				},
				{
					"type": "checkbox",
					"id": "top_margin",
					"label": "Top margin",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "bottom_margin",
					"label": "Bottom margin",
					"default": true
				},
				{
					"type": "image_picker",
					"id": "image1",
					"label": "Image 1"
				},
				{
					"type": "select",
					"id": "alignment1",
					"label": "Vertical alignment",
					"info": "Position relative to other content blocks on the same row",
					"default": "center",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "header",
					"content": "Heading"
				},
				{
					"type": "text",
					"id": "heading_text",
					"label": "Text",
					"default": "Talk about your brand"
				},
				{
					"type": "color",
					"id": "heading_color",
					"label": "Color",
					"default": "#3a3a3a"
				},
				{
					"type": "select",
					"id": "heading_style",
					"label": "Style",
					"default": "h3",
					"options": [
						{
							"value": "h1",
							"label": "Heading 1"
						},
						{
							"value": "h2",
							"label": "Heading 2"
						},
						{
							"value": "h3",
							"label": "Heading 3"
						},
						{
							"value": "h4",
							"label": "Heading 4"
						},
						{
							"value": "h5",
							"label": "Heading 5"
						},
						{
							"value": "h6",
							"label": "Heading 6"
						}
					]
				},
				{
					"type": "header",
					"content": "Paragraph"
				},
				{
					"type": "richtext",
					"id": "paragraph_text",
					"label": "Text",
					"default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "color",
					"id": "paragraph_color",
					"label": "Color",
					"default": "#4a4a4a"
				},
				{
					"type": "select",
					"id": "paragraph_size",
					"label": "Size",
					"default": "1",
					"options": [
						{
							"value": "1",
							"label": "Medium"
						},
						{
							"value": "1.25",
							"label": "Large"
						},
						{
							"value": "1.5",
							"label": "Extra large"
						}
					]
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "select",
					"id": "align_text",
					"label": "Horizontal alignment",
					"default": "left",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Centered"
						},
						{
							"value": "right",
							"label": "Right"
						}
					]
				} 
			]
		}
	]
}
{% endschema %}